nav {
    text-align: center;
}

.brand {
    max-width: 90px;
    border-radius: 50%;
    margin-top: 3px;
    cursor: pointer;
}

.nav-wrapper {
    padding: 0px 30px;
}

h4 {
    text-align: center;
    
  }

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

form {
    width: 400px;
    margin: 20px;
    text-align: center;
}

label {
    font-size: 1.5em;
}
input {
    text-align: center;
    margin: 15px;
}
textarea {
    resize: none;
    border-radius: 5px;
}


.card{
    width:300px;
}
.card-image  {
    width: 300px;
}
.card-image img {
    height: 337px;
    border-radius: 10px;
    padding: 5px;
}

.card .card-image .card-title {
    max-width: 100%;
    background: hotpink;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 11px;
    
}

