
.brand {
    max-width: 90px;
    border-radius: 50%;
    margin-top: 3px;
}
.nav-wrapper {
    padding: 0px 30px;
}

button {
    background: white;
    border: 1px solid pink;
    border-radius: 5px;
    padding: 6px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
button:hover {
    border: 2px solid pink;
    color: pink;
}


@media screen and (max-width:600px) {
    .brand {
        max-width: 73px;
        border-radius: 50%;
        margin-top: 4px;
    }
}
