<nav>
    <div class="nav-wrapper">
      <img class="brand" routerLink="/home" src="../../../assets/logotipo.jpg" alt="Logo">
    </div>
  </nav>
  <h4>Cadastrar novo usuário</h4>
  <div class="conatiner">
    <form [formGroup]="cadastrarUsuario" (ngSubmit)="onSubmit()">
        
        <label for="">Criar login do usuário:</label>
        <input type="email" name="email" formControlName="email">
        <ng-container *ngIf="cadastrarUsuario.controls.email.touched">
            <span *ngIf="cadastrarUsuario.controls.email.errors">
                Campo obrigatório!
            </span>
        </ng-container><br><br><br>
        
        <label for="">Criar senha do usuário:</label>
        <input type="password" name="senha" formControlName="senha">
        <ng-container *ngIf="cadastrarUsuario.controls.senha.touched">
            <span *ngIf="cadastrarUsuario.controls.senha.errors">
                Campo obrigatório!
            </span>
        </ng-container><br>
        <button class="btn waves-effect waves-light" type="submit" [disabled]="">Cadastrar usuário
          </button>
    </form>

    <table>
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Ação</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let item of user">
                <td hidden>{{removeAspas(item._id!)}}</td>
                <td>{{removeAspas(item.email)}}</td>
                <td>{{removeAspas(item.senha)}}</td>
                <td>
                    <button class="editar" (click)="editar(item._id!)">Editar</button>
                    <button class="deletar" (click)="deletar(item._id!)">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

<form class="atualizarUsuario" [formGroup]="atualizarUsuario" *ngIf="editarUsuario != false;">
    <div class="containerAtualizar">
        <button class="close" (click)="close()">X</button>
        <h4>Atualizar Usuário</h4>
        <input type="text" name="id" formControlName="id" hidden="true">
    <label for="">Atualizar login do usuário:</label>
    <input type="email" name="email" formControlName="email">
    <ng-container *ngIf="atualizarUsuario.controls.email.touched">
        <span *ngIf="atualizarUsuario.controls.email.errors">
            Campo obrigatório!
        </span>
    </ng-container><br><br><br>
    
    <label for="">Atualizar senha do usuário:</label>
    <input type="text" name="senha" formControlName="senha">
    <ng-container *ngIf="atualizarUsuario.controls.senha.errors">
        <span *ngIf="atualizarUsuario.controls.senha.errors">
            Campo obrigatório!
        </span>
    </ng-container><br>
    <button class="btn waves-effect waves-light" (click)="atualizar()" >Atualizar
      </button>
    </div>
</form>


