
nav {
    text-align: center;
}

.brand {
    max-width: 90px;
    border-radius: 50%;
    margin-top: 3px;
    cursor: pointer;
}

.nav-wrapper {
    padding: 0px 30px;
}

.conatiner {
    display: flex;
    justify-content: space-around;
  
}

form {
    margin: 20px;
    text-align: center;
}
h4 {
  text-align: center;
  
}
label {
    font-size: 1.2em;
}
input {
    text-align: center;
}
button {
    margin: 20px 30px 50px 20px;
}

table {
    width: 100%;
    height: 50px;
    border-collapse: collapse;
    margin: 20px
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
  }
  button:hover {
    border: 1px solid black;
  }
  
  .editar {
    background-color: #1da2f4;
  }
  .deletar {
    background-color: #f41d1d;
  }
  
  .atualizarUsuario{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #000000c2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -350px;
    z-index: 3;
  }
  .containerAtualizar {
    width: 500px;
    border-radius: 5px;
    background: white;
    padding: 20px;
  }
.close{
  background: #f41d1d;
  position: relative;
  float: right;
  top: -17px;
  right: -23px;
}

@media screen and (max-width:600px) {

  .conatiner {
    flex-direction: column;
  }
    .brand {
        max-width: 73px;
        border-radius: 50%;
        margin-top: 4px;
    }
    form {
      margin: 20px 0px 0px 0px;
    }
    table {
      margin: 20px auto auto auto;
    }
    button {
      width: 66px;
      margin: 5px;
    }
}
