<h4>Faça o seu pedido.</h4>
<div class="conatiner">
    <form>
        <label for="">Digite o seu nome:</label>
        <input type="text" name="nome">
        <label for="">Whatsapp:<img src="../../../assets/whatsapp.png" alt=""></label>
        <input type="tel" id="telefone" name="telefone" maxlength="15">
        <label>Faça o seu pedido.</label>
        <textarea name="pedido" id="pedido" rows="10" cols="10" ></textarea>
        <button class="btn-large waves-effect waves-light" type="submit">Enviar
            <i class="material-icons right">send</i>
          </button>
    </form>
</div>
