
<div class="apresentacao">
    <div>
        <div class="titulo">
            <img src="../../../assets/brigadeiroicone.png" alt="">
            <h1>BRIGADEIROS ARTESANAIS</h1>
            <img src="../../../assets/brigadeiroicone1.png" alt="">
        </div>
            <p>
                 Descubra a perfeição em cada mordida com nossos brigadeiros artesanais. Feitos com ingredientes selecionados e preparados com todo o carinho, nossos brigadeiros oferecem uma explosão de sabor e textura que encanta a todos.<!-- <br>
                Com uma variedade de sabores inovadores e clássicos, cada brigadeiro é uma obra de arte que transforma qualquer ocasião em um momento especial. Delicie-se e compartilhe essa experiência doce com quem você ama! -->
            </p>
    </div>
</div>
    
    
