h4{
    text-align: center;
}
.card-image  {
    width: 200px;
}
.card-image img {
    height: 337px;
    border-radius: 10px;
    padding: 5px;
}

.card .card-image .card-title {
    max-width: 100%;
    background: hotpink;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 11px;
    
}
.card-action:last-child{
    text-align: center;
}
.btnEditaDelete {
    display: flex;
    justify-content: space-around;
}
.delete {
    background: red;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    color: #fff;
}


