<!-- eslint-disable @angular-eslint/template/alt-text -->
    <div style="text-align: center;" *ngIf="cardService.message$ | async as message">
        {{ message }}
    </div>
    <div class="row">
        <h4 *ngIf="administrador == '/administrador'">Lista de Cards</h4>
        <div class="col s12 m4 l3" *ngFor="let item of card">
            <div class="btnEditaDelete" *ngIf="administrador == '/administrador'">
                <button class="editar">Editar</button> <button class="delete" >Deleta</button>
            </div>
            
        <div class="card col s12">
            <div class="card-image col s12">
            <img src="{{item.imagem}}" />
            <span class="card-title">{{item.titulo}}</span>
            </div>
            <div class="card-content">
            <p>{{item.descricao}}</p>
            </div>
            <div class="card-action">
            <a href="{{item.whatsapp}}">{{item.link}}</a>
            </div>
        </div>
        </div>
        
    </div>
    <form *ngIf="administrador == '/administrador'" >
        <input type="text" value="{{card?.values?.name}}">
    </form>

