h4{
    text-align: center;
}
.card-image  {
    width: 200px;
}
.card-image img {
    height: 337px;
    border-radius: 10px;
    padding: 5px;
}

.card .card-image .card-title {
    max-width: 100%;
    background: hotpink;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 11px;
    
}
.card-action:last-child{
    text-align: center;
}
.containerBtnDelete {
    display: flex;
    justify-content: space-around;
}
.btn-small {
    background: red;
}

.btn:hover, .btn-small:hover {
    border: 1px solid black;
    background-color: #ee6e73;
    color: black;
}


