<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.4386308027853!2d-46.4478970690831!3d-23.54132990242869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce66985dc0e4fb%3A0x51d252567a1f4580!2sEsta%C3%A7%C3%A3o%20Dom%20Bosco%20(CPTM)!5e0!3m2!1spt-BR!2sbr!4v1717772266156!5m2!1spt-BR!2sbr" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">GeniDoces</h5>
          <p class="grey-text text-lighten-4">
            Acompanhe-nos nas redes sociais para se atualizar com nossas últimas criações e lançamentos de deliciosos brigadeiros artesanais. Não perca nenhuma novidade!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Rede Social</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/genidoces_sp/" target="_blank"><img src="../../../assets/instagram.png" alt=""></a></li>
            <li><a class="grey-text text-lighten-3" href="https://wa.me/+5511996338062"><img src="../../../assets/whatsapp.png" alt=""></a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><img src="../../../assets/facebook.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2024 Copyright <a href="https://asfuture.github.io/AlexFerreira/" target="_blank">ASFuture - Alex Ferreira | Todos os direitos reservados</a>
      </div>
    </div>
  </footer>
